# Dependencies
node_modules/
server/node_modules/

# Build output
dist/
dist-ssr/

# Vite
*.local

# Environment variables
.env
.env.local
.env.production

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Misc / random files
misc/

# Editor
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
